.Danger-Banner {
    width: calc(100vw - 40px);
    min-height: 40px;
    height: fit-content;

    background-color: var(--danger-banner);

    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Danger-Banner > img {
    height: 30px;
}

.Danger-Banner > a {
    color: #0A4E93;
}

.Warning-Banner {
    width: 100vw;
    height: 40px;

    background-color: var(--warning-banner);

    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Warning-Banner > img {
    height: 30px;
}

.Warning-Banner > a {
    color: #0A4E93;
}

.Notice-Banner {
    width: 100vw;
    height: 40px;

    background-color: var(--notice-banner);

    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Notice-Banner > img {
    height: 30px;
}

.Notice-Banner > a {
    color: #0A4E93;
}